:root {
    --main-color:rgb(21,149,224);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* height: 1000vh; */
    font-family: 'Karla', sans-serif;
}

/* edit navbar */

.nav-link {
    color: white !important;
    text-transform: uppercase;
    font-size: medium;
    border-radius: 10px;
    padding: 10px !important;
    /* font-weight: bold; */
}

.navbar-toggler-icon {
    color: white !important;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.90);
}

.nav-link:hover {
    background-color: var(--main-color);
}

.nav__links {
    flex-grow: 0 !important;
}

.nav-item {
    border-radius: 10%;
}